html, body, #main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: calc(100% - 121px);
}

.navbar-brand {
  float: none;
}

.sidebar {
  position: absolute;
  left: 2%;
  top: 6%;
  display: inline-block;
  width: 430px;
  height: 90%;
}

.client-box {
  height: 75%;
  overflow: hidden;
}

.recent-box {
  height: 25%;
}

.list-box {
  width: 100%;
  overflow-x: hidden;
}

.client-list {
  max-height: calc(100% - 110px);
}

.recent-list {
  max-height: calc(100% - 65px);
}

.filter-input {
  margin: 5px 0px;
}

.client-info {
  margin: 2px 0px;
  padding: 2px;
}

.client-info-hidden {
  display: none;
}

.client-info-mid {
  display: inline-block;
  width: 310px;
  font-family: monospace;
}

.client-info-terminal {
  opacity: 0.5;
  cursor: pointer;
}

.client-info-terminal:hover {
  opacity: 1.0;
}

.terminal-group {
  position: fixed;
  left: 25%;
  top: 10%;
}

