html, body, #main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  margin-left: 2%;
  display: inline-block;
  float: left;
  width: 450px;
  height: calc(100% - 120px);
}

.client-box {
  height: 75%;
  overflow: hidden;
}

.recent-box {
  height: 25%;
}

.list-box {
  width: 100%;
  overflow-x: hidden;
}

.client-list {
  max-height: calc(100% - 110px);
}

.recent-list {
  max-height: calc(100% - 65px);
}

.filter-input {
  margin: 5px 0px;
}

.client-info {
  margin: 2px 0px;
  padding: 2px;
  position: relative;
}

.client-info-hidden {
  display: none;
}

.client-info-mid {
  display: inline-block;
  width: 50ch;
  font-family: monospace;
}

.client-info-buttons {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  height: 20px;
}

.client-info-button {
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  height: 16px;
  line-height: 12px;
  vertical-align: middle;
}

.client-info-button:hover {
  opacity: 1.0;
}

.terminal-group {
  position: fixed;
  left: 25%;
  top: 10%;
}

.fixture-group {
  display: inline-block;
  margin: -10px 10px 0px 10px;
  width: calc(95% - 435px);
}

.upload-progress-bars {
  position: fixed;
  right: 50px;
  bottom: 0px;
}
