html, body, #main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-box {
  margin: 0px 15px;
  overflow-x: hidden;
}

.fixture-block {
  display: inline-block;
  width: 420px;
  margin: 10px;
  vertical-align: text-top;
}

.fixture-block > .panel-heading {
  padding: 7px !important;
}

.label {
  margin: 2px;
}

.btn {
  margin: 2px;
}

.well {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.well-inner {
  background-color: #fff !important;
}

.log {
  color: white;
  background-color: black !important;
  font-size: 8px;
  font-family: monospace;
  height: 80px;
  width: calc(48em + 4px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px !important;
}

.log::-webkit-scrollbar {
  display: none;
}

.terminal-window {
  display: block;
  position: absolute !important;
}

.btn-primary.active {
  background-color: #194367;
}
