html, body, #main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-box {
  margin: 0px 15px;
  overflow-x: hidden;
}

.app-window {
  display: block;
  position: absolute !important;
}

.upload-progress-bars {
  position: fixed;
  right: 50px;
  bottom: 0px;
}

.app-box .panel-heading {
  padding: 2px;
}

.app-box .panel-heading .panel-pagination {
  margin: 0px;
}

.app-box .panel-heading .panel-title {
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

.group-dropdown {
  display: inline-block;
}

.caret {
  margin-left: 3px !important;
}
