.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: calc(100% - 130px);
}

.navbar-brand {
  float: none;
}

/** styles for app window */
.app-window {
  float: left;
  border: 5px solid #eee;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
  border-radius: 4px;
  resize: both;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.app-window-maximized {
  position: fixed;
  left: 0px !important;
  top: 0px !important;
}

.app-window-title {
  float: left;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  background-color: #eee;
  cursor: move;
  padding-bottom: 4px;
}

.app-window-control {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 20px;
  color: black;
  background-color: #eee;
}

.app-window-control * {
  display: inline-block;
}

.app-window-icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.app-window-icon:hover {
  opacity: 0.7;
}

.app-window-close {
  background-image: url(/common/img/close.png);
}

.app-window-maximize {
  background-image: url(/common/img/maximize.png);
}

.app-window-minimize {
  background-image: url(/common/img/minimize.png);
}

.app-window-copy {
  background-image: url(/common/img/copy.png);
}

.terminal {
  clear: both;
  font-size: 14px;
  line-height: 16px;
  text-rendering: auto;
}

.terminal-overlay {
  display: none;
  width: 100%;
  height: calc(100% - 24px);
  position: absolute;
  top: 24px;
  text-align: center;
  line-height: 400px;
  font-size: 2em;
  font-family: Verdana;
}

.terminal-drop-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px dashed #777;
}

.terminal-disconnected-overlay {
  background-color: rgba(255, 200, 200, 0.8);
  border: 5px dashed #9C5252;
}

/** styles for progress bar */
.progress {
  margin: 3px;
}

.upload-progress-bar {
  min-width: 2em;
}

.upload-progress-bars {
  width: 500px;
}

.upload-progress-bars-hidden {
  display: none;
}

.upload-progress-bars > .panel-heading {
  padding: 5px 10px;
}

.upload-progress-bars > .panel-body {
  padding: 2px;
}

.upload-alert {
  margin: 3px;
  padding: 5px;
}

/** styles for fixture */
.fixture-block {
  display: inline-block;
  /** width and margin are defined in FixtureWidget.jsx */
  vertical-align: text-top;
}

.fixture-block > .panel-heading {
  padding: 7px !important;
}

.label {
  margin: 2px;
}

.btn {
  margin: 2px;
}

.well {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.well-inner {
  background-color: #fff !important;
}

.log {
  color: white;
  background-color: black !important;
  font-size: 8px;
  font-family: monospace;
  height: 80px;
  width: calc(48em + 4px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px !important;
}

.log::-webkit-scrollbar {
  display: none;
}

.btn-primary.active {
  background-color: #194367;
}

.status-light-clickable {
  cursor: pointer;
}

.file-input {
  display: inline-block;
}
