.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: calc(100% - 130px);
}

.navbar-brand {
  float: none;
}

.terminal-window {
  float: left;
  border: 5px solid #eee;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
  border-radius: 4px;
}

.terminal-title {
  float: left;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  background-color: #eee;
  cursor: move;
  padding-bottom: 4px;
}

.terminal-control {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 20px;
  color: black;
  background-color: #eee;
}

.terminal-control * {
  display: inline-block;
}

.terminal-close:hover, .terminal-minimize:hover {
  opacity: 0.7;
}

.terminal-close {
  background-image: url(/common/img/close.png);
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.terminal-minimize {
  background-image: url(/common/img/minimize.png);
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.terminal {
  clear: both;
  font-size: 14px;
  line-height: 16px;
  text-rendering: auto;
}
